*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.licuadora{
    width: 700px;
    height: 500px;
    background-image: url("../img/licuadoraApagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.licuadora.activada{
    background-image: url("../img/licuadoraEncendida.gif"); 
}


.licu-btn{
    width: 70px;
    height: 70px;
    margin: 350px auto 50px; 
}
